# Environment files
.env
*.env

# Firebase secrets
serviceAccountKey.json

# Python virtual environment
.venv/
venv/

# Python cache
__pycache__/
*.pyc

# Django
db.sqlite3
staticfiles/
media/

# Next.js
frontend/.next/
frontend/node_modules/

# Logs
debug.log
